replicaCount: 2

image:
  repository: ghcr.io/shreyaskn72/hello-world-flask-kubernets
  tag: learning
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
  targetPort: 5000

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: flask-api.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources: {}